body{
    background: url(../imgs/dia_upscaled.jpg) fixed;
    background-size: cover;
}

.btn{
    padding: 10px;
    background-color: #68b0bd;
    border: none;
    border-radius: 5px;
}

.anima-div  {
    position: relative;
    background: url(../imgs/hai_0.png) -0px -280px;
    height: 142px;
    width: 148px; 
    animation: anima-sprite 1s steps(4) infinite;
}

.anima-div-esquerda  {
    position: relative;
    background: url(../imgs/hai_0.png) -0px -142px;
    height: 142px;
    width: 148px; 
    animation: anima-sprite 1s steps(4) infinite;
}

.anima-div-cima  {
    position: relative;
    background: url(../imgs/hai_0.png) -0px -420px;
    height: 142px;
    width: 148px; 
    animation: anima-sprite 1s steps(4) infinite;
}

.anima-div-baixo  {
    position: relative;
    background: url(../imgs/hai_0.png) -0px -0px;
    height: 142px;
    width: 148px; 
    animation: anima-sprite 1s steps(4) infinite;
  }
  
@keyframes anima-sprite {
    100% { background-position-x: -592px; }
}

.navio{
    position: relative;
    rotate: 15deg;
    top: 20vh;
    left: 110vh;
}

/*.anima-div-lula{
    position: relative;
    background: url(../imgs/lula.png) -0px -0px;
    height: 750px;
    width: 400px; 
    animation: anima-sprite-lula 1s steps(5) infinite;
}
@keyframes anima-sprite-lula {
    100% { background-position-x: -2000px; }
}*/
